<html>
    <body>
    <h2 style="color: red">
    Hola mundo, ahora tengo el PODERRRRRR
    </h2>
    <p>El nombre del alumno es: {{nombre_persona.upper}} {{apellido_persona}}</p>
    
    <p>Estamos viendo el tema de las plantillas a d&iacute;a: {{momento_actual.day}} / {{momento_actual.month}} / {{momento_actual.year}}</p>
    <!--Estructura repertitiva y condicionales-->
    <p><strong>Temas del Curso:</strong></p>
    <p>
        <ul>
        {% if temas %}
            {% for i in temas %}
                <li>{{i}}</li>
            {% endfor %}
        {% else %}
            <p>No hay elementos que mostrar</p>

        {% endif %}
        </ul>
    </p>  
    <!--Esto es un nuevo comentario--> 
    <p>Esta es una nueva secci&oacute;n</p>
    <p>Nuevo parrafo</p>
</body>
    </html>