<html>
    <body>

        {% include "superior/barra.html" %}

    <h2 style="color: red">
    Hola mundo, ahora tengo el PODERRRRRR
    </h2>
    <!--Esto es comentario
    segunda linea-->
    {# esto es un comentario tambien #}
    {% comment %}
    esto tambien es un comentario
    {% endcomment %}

    {% if nombre_persona == 'Jose' %}
        <p>El curso es visto por Jose</p>
    
    {% else %}
        <P>El curso es visto por un weon</P>
    {% endif %}

    <p>El nombre del alumno es: {{nombre_persona|upper}} {{apellido_persona.upper}}</p>
    
    <p>Estamos viendo el tema de las plantillas a d&iacute;a: {{momento_actual.day}} / {{momento_actual.month}} / {{momento_actual.year}}</p>
    <!--Estructura repertitiva y condicionales-->
    <p><strong>Temas del Curso:</strong></p>
    <p>
        <ul>
        {% if temas %}
            {% for i in temas %}
                <!--Se ´puede colocar varios filtros-->
                <li>{{i|first|lower}}</li>
            {% endfor %}
        {% else %}
            <p>No hay elementos que mostrar</p>

        {% endif %}
        </ul>
    </p>  
    <!--Esto es un nuevo comentario--> 
    
</body>
    </html>